[submodule "OOPWithCpp/3rdParty/Projects/git/SDL"]
	path = OOPWithCpp/3rdParty/Projects/git/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "OOPWithCpp/3rdParty/Projects/git/ImGui"]
	path = OOPWithCpp/3rdParty/Projects/git/ImGui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "OOPWithCpp/3rdParty/HeaderOnly/git/stbImage"]
	path = OOPWithCpp/3rdParty/HeaderOnly/git/stbImage
	url = https://github.com/nothings/stb.git
[submodule "OOPWithCpp/3rdParty/HeaderOnly/git/GLM"]
	path = OOPWithCpp/3rdParty/HeaderOnly/git/GLM
	url = https://github.com/g-truc/glm.git
[submodule "OOPWithCpp/3rdParty/HeaderOnly/git/VMAhpp"]
	path = OOPWithCpp/3rdParty/HeaderOnly/git/VMAhpp
	url = https://github.com/YaaZ/VulkanMemoryAllocator-Hpp.git
